{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
    {% block style %}{% endblock %}
    <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css"/>
    </head>
{% endblock %}

    <body class="{{body_class}}" data-template="base.twig">
        <header id="header">
            <div class="wrapper top-head">
                <a href="{{site.url}}" rel="external" title="{{site.name}}">
                    <div class="bloc-logo-header">
                        <div class="left-content">
                            <svg class="svgelem shadow" height="100">
                                <polygon  points="0,0 0,80 90,85 90,0"/>
                            </svg>
                            <img src="{{ template_path }}/images/logo_home_left.png" alt="{{ site.name }}" />
                        </div>
                        <div class="right-content">
                            <svg class="svgelem shadow" height="100">
                                <polygon  points="0,0 0,85 290,100 290,0"/>
                            </svg>
                            <img src="{{ template_path }}/images/logo_home_right.png" alt="{{ site.name }}" />
                        </div>
                    </div>
                </a>
            </div>
            <nav id="main-navigation" role="navigation">
                <div class="wrapper">
                    {{ main_navigation }}
                </div>  
                <div id="burger-nav">
                    <div class="wrapper">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </div>  
                </div>
            </nav>            
        </header>        
        <div id="main-content" role="main">
            <div id="mobile-nav">
                {{ main_navigation }}
            </div>
            <div class="wrapper">
                {% block content %}

                {% endblock %}
            </div>
        </div>        
        {% include 'footer.twig' %}

        <script type="text/javascript" src="{{ template_path }}/js/steiner-script.js"></script>
        {% block script %}
        {% endblock %}
        <script type="text/javascript">
            $(document).ready(function(){
                $('#menu-main_navigation li.menu-item').each(function(){
                    $(this).find('a.ui-link').each(function(){
                        console.log($(this).attr('href'));
                        $(this).attr('rel','external');
                    }); 
                }); 
            });
        </script>

        <!-- FOOTER WORDPRESS START -->
        {{function('wp_footer')}}
        <!-- FOOTER WORDPRESS END -->

    </body>
        
</html>
