
<footer id="footer" role="footer">
    <div class="wrap-content wrap-content-85-center">
        <div class="flex-col col-25">
            <span>
                <p>un développement</p>
                <a target="_blank" href="http://www.steiner.ch/fr" title="Steiner"><img src="{{ template_path }}/images/logo_steiner.png" alt="Logo Steiner" /></a>
            </span>
        </div>
        <div id="footer-center" class="flex-col col-33">
            <i class="fa fa-map-marker"></i>
            <p>
                STEINER SA
                <br/>
                Route de Lully 5 | CH-1131 Tolochenaz
                <br/>
                <a target="_blank" href="http://www.steiner.ch/fr" title="Steiner">www.steiner.ch</a>
            </p>
        </div>
        <div class="flex-col col-40 partner-logo">
            
            <a target="_blank" href="http://plus-sa.ch/" title="Plus SA - Financement">
                <img src="{{ template_path }}/images/PLUS_SA.png" alt="" />
                <p>notre partenaire financement</p>
            </a>
                
            <a target="_blank" href="http://www.lpmimmo.ch/fr/HomePage" title="LPM Immobilier - Gérance 2000">
                <img src="{{ template_path }}/images/lpm_immobilier.png" alt="" />
                <p>notre partenaire commercialisation</p>
            </a>
                
        </div>
        <div id="sub-footer">
            Steiner SA copyright {{"now"|date('Y')}} | design & code by <a href="http://www.meomeo.ch/" title="MEO design & communication" >MEO design & communication</a>
        </div>
    </div>    
</footer>