    {% block html_head_container %}

        {% include 'html-header.twig' %}
        {% block head %}
        {% endblock %}
        {% block style %}
        {% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
        <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css"/>
        </head>
    {% endblock %} 
    
    <body id="homepage" class="{{body_class}}" data-template="base.twig">
        <div id="slider">
            {% for key,slide in slider %}
                <article id="slide-{{ key }}" class="slide">
                    <div class="slide-image" style="background-image: url({{ slide.image.url }});">
                        <div class="slide-bg-gradient"></div>
                    </div>
                    <div class="slide-txt wrap-content">
                        <section class="flex-col-not-responsive col-29">
                            &nbsp;
                        </section>
                        <section class="flex-col-not-responsive col-70">
                            <p class="texte_1">{{ slide.texte_1 }}</p>
                            <p class="texte_2">{{ slide.texte_2 }}</p>
                            <span class="underline">&nbsp;</span>
                        </section>
                    </div>
                </article>
            {% endfor %}
        </div>
        
        <div id="content" role="main">
            <div class="bloc-logo-homepage">
                <div class="left-content">
                    {% if mobile_device %}
                        <svg id="svg-smartphone-portrait-left" class="svgelem shadow" preserveAspectRatio="xMinYMax meet">
                            <polygon points="0,0 0,90 200,98 200,0"/>
                        </svg>
                        <svg id="svg-smartphone-landscape-left" class="svgelem shadow" preserveAspectRatio="xMinYMax meet">
                            <polygon points="0,0 0,132 200,141 200,0"/>
                        </svg>
                    {% else %}
                        <svg class="svgelem shadow" width="134" height="156" viewBox="0 0 134 156" preserveAspectRatio="xMinYMax slice">
                            <polygon points="0,0 0,134 200,142 200,0"/>
                        </svg>
                    {% endif %}
                    <img src="{{ template_path }}/images/logo_home_left.png" alt="{{ site.name }}" />
                </div>
                <div class="right-content">
                    {% if mobile_device %}
                        <svg id="svg-smartphone-portrait-right" class="svgelem shadow" preserveAspectRatio="xMinYMax meet">
                            <polygon points="0,0 0,95 388,110 388,0"/>
                        </svg>
                        <svg id="svg-smartphone-landscape-right"class="svgelem shadow" preserveAspectRatio="xMinYMax meet">
                            <polygon points="0,0 0,140 388,155 388,0"/>
                        </svg>
                    {% else %}
                        <svg class="svgelem shadow" width="389" height="158" viewBox="0 0 389 156" preserveAspectRatio="xMinYMax slice">
                            <polygon points="0,0 0,139 388,156 388,0"/>
                        </svg>
                    {% endif %}
                    <img src="{{ template_path }}/images/logo_home_right.png" alt="{{ site.name }}" />
                    <nav id="home-nav" class="home-nav">
                        <ul>
                            <li class="plan">
                                <span class="item-nav-homepage">
                                    Plans
                                </span>
                                <a href="{{ url_plan }}" title="Liste des lots">
                                    <div class="item-home-nav item-plan">
                                        <img src="{{ template_path }}/images/icon_plan.png" alt="" />
                                    </div>
                                </a>
                            </li>
                            <li class="contact">
                                <span class="item-nav-homepage">
                                    Contact
                                </span>
                                <a href="{{ url_contact }}" title="Contacter nous">
                                    <div class="item-home-nav item-contact">
                                        <img src="{{ template_path }}/images/icon_contact.png" alt="" />
                                    </div>
                                </a>
                            </li>
                            <li class="info">
                                <span class="item-nav-homepage">
                                    + d'info
                                </span>
                                {{ navigation_home }}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div id="content-bottom">
                <div class="wrap-content-98-center">
                    <div class="flex-col col-50 logo-steiner-home">
                        <p id="logo-steiner-txt">Un développement</p>
                        <a target="_blank" href="http://www.steiner.ch/fr" title=""><img id="logo-steiner" src="{{ template_path }}/images/steiner.logo.png" alt="Développement Steiner" /></a>
                        <a target="_blank" href="http://plus-sa.ch/" title=""><img id="logo-plus-sa" src="{{ template_path }}/images/PLUS_SA.png" alt="PLUS SA" /></a>
                    </div>
                    <div class="flex-col col-50">
                        <a target="_blank" href="http://www.lpmimmo.ch/fr/HomePage" title="LPM Immobilier - Gérance 2000"><img src="{{ template_path }}/images/lpm_immobilier.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ template_path }}/js/homeslider.js" type="text/javascript" />
        {% block script %}
            
        {% endblock %}

        <!-- FOOTER WORDPRESS START -->
        {{function('wp_footer')}}
        <!-- FOOTER WORDPRESS END -->

    </body>        
</html>
