/*
    
    *** FONT STYLE LESS *** 
    
    Path: theme/less/homepage.less 
    Created on : 29 sept. 2016, 08:21:57
    Author     : MEO
*/

html,
html body
{
    font-family: 'Montserrat', sans-serif;
    font-size: @font-size-desktop;
    @media @tablets-portrait
    { 
        font-size: @font-size-tablets; 
    }
    @media @smartphones
    { 
        font-size: @font-size-smartphones; 
    }
}

/** main-content **/
html #main-content,
html #main-content h1,
html #main-content h2,
html #main-content p,
html #main-content a
{
    font-family: 'Montserrat', sans-serif;
    color: @grey;
    @media @smartphones
    { 
        padding: 0 !important; 
    }
}
html #main-content sup
{
    position: relative;
    font-size: 0.6rem;
    top: -5px;
}
html #main-content
{
    font-size: @font-size-desktop;
    @media @tablets-portrait
    { 
        font-size: @font-size-tablets; 
    }
    @media @smartphones
    { 
        font-size: @font-size-smartphones; 
    }
}
    html #main-content h1
    {
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding: 0;
        @media @tablets-portrait
        { 
            padding: 0 0; 
            margin-bottom: 5px;
        }
        @media @smartphones
        {
            padding: 0 0;
            margin-bottom: 5px;
        }
    }
    html #main-content h2
    {
        font-size: 1.4rem;
        font-weight: normal;
    }
    html #main-content p
    {
        margin-bottom: 10px;
    }