/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.

    Created on : 3 oct. 2016, 13:44:28
    Author     : MEO
*/
#footer
{
    width: 100%;
    padding-top: 55px;
    background-color: @footer-color;
}
#footer .wrap-content-85-center
{
    max-width: 1200px !important;
}
#footer .flex-col.col-25
{
    position: relative;
}
#footer .flex-col.col-25 span
{
    left: 0;
    bottom: 0;
    position: absolute;
    display: block;
    @media @tablets-portrait
    { 
        position: initial;
    }
    @media @smartphones
    {
        position: initial;   
    }
}
#footer .flex-col.col-25 img
{
    display: block;
    @media @tablets-portrait
    { 
        margin: 0 auto 10px auto;
    }
    @media @smartphones
    {
        margin: 0 auto 10px auto;    
    }
}

#footer .flex-col i.fa,
#footer .flex-col p
{
    display: inline-block;
    @media @tablets-portrait
    { 
        width: 100%;
        display: block; 
        text-align: center;
    }
    @media @smartphones
    {
        width: 100%;
        display: block;
        text-align: center;
    }
}

#footer .flex-col i.fa
{
    color: @brown;
    font-size: 35px;
    margin-right: 10px;
}



#footer .flex-col, 
#footer .flex-col a,
#footer .flex-col a
{
    color: #fff;
    text-decoration: none;
}
#footer-center
{
    position: relative;
    top: 5px;
}
#footer .partner-logo
{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
#footer .partner-logo a
{
    width: auto;
    bottom: -6px;
    right: 0px;
    flex: auto;
    display: block;
    position: absolute; 
    @media @tablets-portrait
    { 
        width: 100%;
        margin-top: 40px;
        position: initial;
    }
    @media @smartphones
    {
        width: 100%;
        margin-top: 40px;
        position: initial;
    }
}
#footer .partner-logo a:first-child
{
    right: 45%;
    @media @tablets-landscape
    { 
        right: 55%;
    }
    @media @tablets-portrait
    {
        margin-top: 15px;
    }
    @media @smartphones
    {
        margin-top: 15px;
    }
}
#footer .partner-logo a > p
{
    width: 100%;
    font-size: 10px;
    color: #fff;
    text-align: center;
}
#footer .partner-logo a:first-child img
{
    max-width: 120px;
}
#footer .partner-logo a:last-child img
{
    max-width: 75px;
}
#footer .partner-logo a img
{
    display: block;
    width: 100%;
    margin: 0 auto; 
    @media @tablets
    {
        max-width: 110px;
    }
    @media @tablets-portrait
    { 
        width: 50%;
        max-width: 110px;
        display: block;
        margin: 0 auto;
    }
    @media @smartphones
    {
        width: 50%;
        max-width: 110px;
        display: block;
        margin: 0 auto;
    }
}
#sub-footer
{
    width: 100%;
    margin-top: 30px;
    padding: 20px 0;
    color: #fff;
    font-size: 13px;
    border-top: 1px solid @light-blue;
    @media @smartphones
    {
        text-align: center;
        font-size: 10px;
    }
}

#sub-footer a
{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    @media @smartphones
    {
        font-size: 10px;
    }
}

#sub-footer a:hover
{
    font-size: 12px;
    color: @brown;
}