/*
    
    *** HOMEPAGE LESS *** 
    
    Path: theme/less/homepage.less 
    Created on : 29 sept. 2016, 08:21:57
    Author     : MEO
*/
html
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 !important;
    @media @smartphones-landscape
    {
        height: auto;
        min-height: 600px;
    }
}

@media @smartphones-portrait
{
    #svg-smartphone-landscape-left,
    #svg-smartphone-landscape-right
    {
        display: none;
    }
    #svg-smartphone-portrait-left,
    #svg-smartphone-portrait-right
    {
        display: block;
    }
}

@media @smartphones-landscape
{
    #svg-smartphone-landscape-left,
    #svg-smartphone-landscape-right
    {
        display: block;
    }
    #svg-smartphone-portrait-left,
    #svg-smartphone-portrait-right
    {
        display: none;
    }
}

@media @tablets
{
    #svg-smartphone-landscape-left,
    #svg-smartphone-landscape-right
    {
        display: block;
    }
    #svg-smartphone-portrait-left,
    #svg-smartphone-portrait-right
    {
        display: none;
    }
}

html body#homepage
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-color: #666;
    @media @smartphones-landscape
    {
        height: auto;
        min-height: 600px;
    }
}

html body#homepage #slider
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
}
    html body#homepage #slider .slide
    {
        top: 0;
        left: 0;
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0; 
        position: absolute;
        z-index: 1;        
    }
    html body#homepage #slider #slide-0
    {
        z-index: 5;
    }
        html body#homepage #slider .slide > div.slide-image
        {
            display: block;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0; 
            position: absolute;
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
            /*transform: scale(1);
            transition: all 5s;*/
            
        }
        html body#homepage #slider .slide > div.slide-image div.slide-bg-gradient
        {
            display: block;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            position: absolute;
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background: -moz-linear-gradient(bottom,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
            background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
            background: linear-gradient(to top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
        }
        html body#homepage div.slide-txt
        {
            top: 15%;
            padding: 0;
            position: relative;
            width: 530px;
            min-width: 530px;
            max-width: 530px;
            margin: 0 auto;
        }
        html body#homepage div.slide-txt > section
        {
            
            padding: 0;
            margin: 0;
        }
            html body#homepage div.slide-txt > section p
            {
                color: #4f4e57;
                font-size: 30px;
                line-height: 35px;
                font-weight: lighter;
                padding-left: 1.5rem;
                @media @smartphones-portrait
                {
                    font-size: 18px;
                    line-height: 23px;
                    padding-left: 0px;
                }
                @media @smartphones-landscape
                {
                    padding-left: 0;
                }
            }
            html body#homepage div.slide-txt > section p.texte_1
            {
                padding-top: 16%;
                font-weight: bold;
                @media @tablets
                {
                    padding-top: 0%;
                }
                @media @tablets-portrait
                {
                    padding-top: 15%;
                }
                @media @smartphones-portrait
                {
                    padding-top: 15%;
                }
                @media @smartphones-landscape
                {
                    padding-top: 0%;
                }
            }
                html body#homepage div.slide-txt > section p.texte_2:after
                {
                    background-color: #FFF;
                    height: 2px;
                    width: 20%;
                }

html body#homepage #content
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 10;
    overflow: hidden;
    position: absolute;
}
html body#homepage .bloc-logo-homepage
{
    height: 155px;
    width: 530px;
    max-width: 90%;
    display: flex;
    margin: 0 auto;
    .mixin-vertical-align-manual(relative,45%);
    @media @smartphones
    {
        //height: 77px;
    }
}
html body#homepage .bloc-logo-homepage div > .svgelem
{
    -moz-transform: scaleY(-1);    /* Gecko */
    -o-transform: scaleY(-1);      /* Opera */
    -webkit-transform: scaleY(-1); /* Webkit */
    transform: scaleY(-1);         /* Standard */
    width: 100%;
    height: auto;
}
html body#homepage .bloc-logo-homepage div > .svgelem polygon
{
    /*width: 100%;
    height: 100%;*/
    fill: rgba(255, 255, 255, 0.9);
}
html body#homepage .bloc-logo-homepage div.left-content
{
    width: 50px;
    margin-right: 10px;
    margin-right: 2%;
    @media @smartphones-portrait
    {
        width: 25px;
    }
    @media @smartphones-landscape
    {
        width: 1px;
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    html body#homepage .bloc-logo-homepage div.left-content
    {
        overflow: hidden;
    }
}
html body#homepage .bloc-logo-homepage > div
{
    flex: auto;
    position: relative;
}

html body#homepage .bloc-logo-homepage > div.right-content
{
    width: 300px;
    @media @smartphones-portrait
    {
        width: 150px;
    }
    @media @smartphones-landscape
    {
        width: 300px;
    }
}
html body#homepage .bloc-logo-homepage > div.left-content > img
{
    width: 60%;
    max-width: 60%;
    display: block;
    position: absolute;
    bottom: 20px;
    left: 20%;
}
html body#homepage .bloc-logo-homepage > div.right-content > img
{
    width: 80%;
    max-width: 80%;
    display: block;
    position: absolute;
    bottom: 20px;
    left: 1.5rem;
}
.shadow {
   // box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    /*-webkit-filter: drop-shadow( 0 0 5px #000 );
    filter: drop-shadow( 0 0 5px #000 );*/
}
#home-nav
{
    width: 100%;
    max-width: 310px;
    position: relative;
    margin: -7px auto 0 auto;
    padding-left: 10px;
    @media @smartphones-portrait
    {
        margin-top: 0px;
        margin-left: 0.75rem;
        padding-left: 0px;
    }
    @media @smartphones-landscape
    {
        margin-top: 0px;
        padding-left: 0px;
    }
}
.home-nav ul,
.home-nav ul li
{
    list-style: none;
}
    .home-nav > ul > li.plan,
    .home-nav > ul > li.contact,
    .home-nav > ul > li.info
    {
        display: inline-block;
    }
    .home-nav > ul > li
    {
        width: 30%;
        max-width: 100px;
        min-height: 40px;
        margin-right: 0px;
        position: relative;
        background-color: #8f776a;
    }
    .home-nav > ul > li:last-child
    {
        margin-right: 0;
    }
        .home-nav > ul > li > span
        {
            width: 100%;
            color: #FFF;
            cursor: pointer;
            display: block;
            font-weight: lighter;
            text-align: center;
            padding: 10px 0 0 0;
            text-decoration: none;
        }
        .home-nav > ul li > a
        {
            display: none;
        }
        .home-nav > ul li > a div.item-home-nav
        {
            display: none;
            left: 0;
            width: 100%;
            top: 40px;
            padding: 15px 0 5px 0;
            position: absolute;
            background-color: #aaa;

        }
        .home-nav > ul li > a div.item-home-nav.item-plan
        {
            background-color: @grey;
        }
        .home-nav > ul li > a div.item-home-nav.item-contact
        {
            background-color: @grey;
        }
            .home-nav > ul li > a div.item-home-nav.item-plan img
            {
                display: block;
                width: 55px;
                margin: 0 auto;
            }
            .home-nav > ul li > a div.item-home-nav.item-contact img
            {
                display: block;
                width: 55px;
                margin: 0 auto;
            }

        .home-nav > ul li div.menu-homepage_nav-container
        {
            display: none;
            left: 0;
            width: 100%;
            top: 40px;
            position: absolute;
            padding: 5px 0 5px 0;
            background-color: @grey;
        }
            .home-nav > ul li div.menu-homepage_nav-container > ul > li
            {
                padding: 0 0 20px 0;
            }
            .home-nav > ul li div.menu-homepage_nav-container > ul > li:first-child
            {
                padding: 10px 0 20px 0;
            }
            .home-nav > ul li div.menu-homepage_nav-container > ul > li:last-child
            {
                padding: 0 0 15px 0;
            }
            .home-nav > ul li div.menu-homepage_nav-container > ul > li,
            .home-nav > ul li div.menu-homepage_nav-container > ul > li a
            {
                color: #FFF;
                font-size: 14px;
                text-align: center;
                text-decoration: none;
                @media @smartphones-portrait
                {
                    font-size: 10px;
                }
            }
            .home-nav > ul li div.menu-homepage_nav-container > ul > li a:hover
            {
                text-decoration: underline;
            }

    .home-nav > ul > li:hover a,
    .home-nav > ul > li:hover > div,
    .home-nav > ul > li:hover > a > div.item-home-nav
    {
        display: block;
    }

    .home-nav > ul > li.info div.menu
    {
        position: relative;
    }
    .home-nav > ul > li.info div.menu > ul
    {
        top: 40px;
        left: 0;
        position: absolute;
        background-color: @brown;
        width: 100px;
        max-width: 100px;
    }
    .home-nav > ul > li.info div.menu > ul > li
    {
        padding: 0 0px;
    }
    .home-nav > ul > li.info div.menu > ul > li > a
    {
        font-size: 12px;
        color: white;
        text-align: center;
        text-decoration: none;
    }
        
    #content-bottom .flex-col:last-child
    {
        text-align: right;
    }
    
    #content-bottom .flex-col:last-child img
    {
        margin-left: 15px;
        /*@media @tablets-portrait
        {
            display: none;
        }
        @media @smartphones
        {
            display: none;
        }*/
    }
    #content-bottom .flex-col:last-child a:first-child > img
    {
        position: relative;
    }
    #content-bottom .flex-col:last-child a:last-child > img
    {
        bottom: 0px;
        right: 0;
        position: absolute;
        @media @smartphones-portrait
        {
            display: none;
        }
    }
    #content-bottom
    {
        width: 100%;
        left: 0;
        bottom: 15px;
        position: absolute;
        @media @tablets-portrait
        {
            bottom: -10px;
            padding-left: 5px;
        }
        @media @smartphones
        {
            bottom: -10px;
            padding-left: 5px;
        }
    }
    #content-bottom .logo-steiner-home
    {
        position: relative;
    }
    #content-bottom #logo-steiner-txt
    {
        position: absolute;
        bottom: 25px;
    }
    #content-bottom #logo-steiner
    {
        position: absolute;
        bottom: 0;
        max-width: 220px;
    }
    #content-bottom #logo-plus-sa
    {
        max-width: 120px;
        position: absolute;
        bottom: -5px;
        left: 250px;
        @media @smartphones-portrait
        {
            display: none;
        }
    }
    #content-bottom p
    {
        color: #FFF;
        font-size: 13px;
        font-family: "Montserrat", sans-serif;
    }