/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.

    Created on : 3 oct. 2016, 15:24:15
    Author     : MEO
*/


#main-content
{
    padding: 50px 0;
    width: 100%;
    max-width: 100%;
    position: relative;
    @media @smartphones
    {
        margin: 50px 0 !important;
    }
}

#main-content img,
#main-content .flex-col img
{
    width: 100%;
}


/*
 *    PAGE CONCEPT   
 */
#main-content .page-concept h1
{
    padding: 0 10px;
}

#main-content .page-concept .wrap-content-full-width-table .col-67,
#main-content .page-concept .wrap-content-full-width-table .col-66,
#main-content .page-concept .wrap-content-full-width-table .col-33,
#main-content .page-concept .wrap-content-full-width-table .col-32
{
    border: 1px solid #efefef;
    padding: 20px;
}

#main-content .page-concept .wrap-content-full-width-table
{
    border-collapse: separate;
    border-spacing: 10px 5px;
    @media @tablets-portrait
    { 
        border-spacing: 0px;
    }
    @media @smartphones
    {
        border-spacing: 0px;
    }
}
#main-content .page-concept .wrap-content-full-width-table .cell-col
{
    @media @tablets-portrait
    { 
        margin-bottom: 20px;
    }
    @media @smartphones
    {
        margin-bottom: 100px;
    }
}

#main-content .page-concept .wrap-content-full-width-table .cell-col img,
#main-content .page-concept .wrap-content-full-width-table .cell-col h2,
#main-content .page-concept .wrap-content-full-width-table .cell-col p
{
    width: 100%;
}

#main-content .page-concept .wrap-content-full-width-table .cell-col h2
{
    display: block;    
    @media @tablets-portrait
    { 
        padding-top: 20px;
    }
    @media @smartphones
    {
        padding-top: 20px;
    }
}

#main-content .page-concept .wrap-content-full-width-table .cell-col h2:after
{
    content: ' ';
    width: 140px;
    display: block;
    height: 2px; 
    margin-top: 5px;
    margin-bottom: 35px;
}
    #main-content .page-concept .wrap-content-full-width-table .cell-col
    {
        .mixin-background-color-opacity(191,227,233,0.1);
    }
    #main-content .page-concept .wrap-content-full-width-table .cell-col h2.yellow
    {
        color: @yellow; 
    }
    #main-content .page-concept .wrap-content-full-width-table .cell-col h2.yellow:after
    {
        background-color: @yellow; 
    }
    
    #main-content .page-concept .wrap-content-full-width-table .cell-col h2.blue
    {
        color: @blue; 
    }
    #main-content .page-concept .wrap-content-full-width-table .cell-col h2.blue:after
    {
        background-color: @blue; 
    }
    
    #main-content .page-concept .wrap-content-full-width-table .cell-col h2.green
    {
        color: @green; 
    }
    #main-content .page-concept .wrap-content-full-width-table .cell-col h2.green:after
    {
        background-color: @green; 
    }

#main-content .page-concept .wrap-content-full-width-table .cell-col img
{
    margin-bottom: 35px;
}

/*
 *    PAGE SITUATION   
 */
#main-content .page-situation
{
    padding: 0 10px;
}
#main-content .page-situation > div > img
{
    margin-bottom: 30px;
}
#main-content .btn-bloc-situation
{
    width: 100%;
    display:-webkit-flex;
    display:-ms-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
}
a.btn-desktop
{
    display: block;
    @media @smartphones
    {
        display: none;
    }
}
a.btn-mobile
{
    display: none;
    @media @smartphones
    {
        display: block;
    }
}
#main-content .btn-blue
{
    width: 20%;
    flex: 0 auto;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 0 35px 0;
    background-color: @blue;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9rem;
    @media @tablets-portrait
    {
        width: 100%;
        padding: 10px 0 !important;
    }
    @media @smartphones
    {
        width: 100%;
        padding: 10px 0 !important;
    }
}
#main-content .btn-blue:hover
{
    background-color: @yellow;
}
/*
 *    PAGE GALERIE   
 */
#main-content .page-galerie
{
    padding: 0 10px;
}

/*
 *    PAGE LISTE PRIX   
 */
#main-content .page-list-price
{
    padding: 0 10px;
}

/*
 *    PAGE CONTACT   
 */
#main-content .page-contact
{
    padding: 0 10px;
}
#main-content .page-contact h1,
#main-content .page-contact h2
{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #efefef;
}
#main-content .page-contact h2.left-title
{
    width: 98%;
}
#main-content .page-contact h2.right-title
{
    width: 98%;
    margin-left: 10px;
}
#main-content .page-contact .col-100
{
    margin-bottom: 50px;
}
#main-content .page-contact p.information
{
    padding-left: 10px;
}
#main-content .page-contact p span
{
    font-weight: bold;
    text-transform: uppercase;
}

#main-content .page-contact legend
{
    font-size: 0.7rem;
}
#main-content .page-contact iframe
{
    width: 100%;
}
#main-content .page-contact form.wpcf7-form input,
#main-content .page-contact form.wpcf7-form textarea
{
    width: 96%;
    padding: 10px 2%;
    margin-bottom: 10px; 
    border: 1px solid #efefef !important;
    .mixin-border-radius(0,0,0,0);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
#main-content .page-contact #immoval
{
    width: auto !important;
    max-height: 150px !important;
    margin: 50px 0 20px 0;
}
#main-content .page-contact form.wpcf7-form textarea
{
    height: 207px;
}
#main-content .page-contact form.wpcf7-form input.wpcf7-form-control.wpcf7-submit
{
    width: 20%;
    min-width: 100px;
    float: right;
    background-color: @blue;
    border: none;
    color: #fff;
}
