/*
    
    *** FUNCTION LESS *** 
    
    Path: theme/less/utility/functions.less 
    Created on : 29 sept. 2016, 08:21:57
    Author     : MEO
*/
/* Reset Element */
.mixin-reset-padding-margin()
{
    margin: 0 !important;
    padding: 0 !important;
}
/* Full Screen Element */
.mixin-full-screen()
{
    width: 100%;
    height: 100%;
}
.mixin-full-height()
{
    max-height: 100% !important;
    height: 100% !important;
}
/* Create Base Style Title */
.mixin-title(@color,@font-size,@text-transform,@text-align,@letter-spacing,@font-weight)
{
    color: @color !important;
    font-size: @font-size  !important;
    text-transform: @text-transform  !important;
    text-align: @text-align !important;
    letter-spacing: @letter-spacing !important;
    font-weight: @font-weight !important;
}
/* Vertical Align Element */
.mixin-vertical-align(@position)
{
    position: @position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/* Vertical Align Element */
.mixin-vertical-align-manual(@position,@top)
{
    position: @position;
    top: @top;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/* Create Border Radius */
.mixin-border-radius(@top-left,@top-right,@bottom-right,@bottom-left)
{
    -webkit-border-radius: @top-left @top-right @bottom-right @bottom-left;
    border-radius: @top-left @top-right @bottom-right @bottom-left;
}
/* Create Box Shadow */
//Externe
.mixin-box-shadow(@pos-x,@pos-y,@blur,@distance,@color)
{
    -moz-box-shadow: @pos-x @pos-y @blur @distance @color;
    -webkit-box-shadow: @pos-x @pos-y @blur @distance @color;
    -o-box-shadow: @pos-x @pos-y @blur @distance @color;
    box-shadow: @pos-x @pos-y @blur @distance @color;
}
//Interne
.mixin-box-shadow-inset(@pos-x,@pos-y,@blur,@distance,@color)
{
    -moz-box-shadow: inset @pos-x @pos-y @blur @distance @color;
    -webkit-box-shadow: inset @pos-x @pos-y @blur @distance @color;
    -o-box-shadow: inset @pos-x @pos-y @blur @distance @color;
    box-shadow: inset @pos-x @pos-y @blur @distance @color;
}
/* Create Text Shadow */
.mixin-text-shadow(@pos-x,@pos-y,@blur,@color)
{
    text-shadow: @pos-x @pos-y @blur @color;
}
/* Create Background Color With Opacity */
.mixin-background-color-opacity(@red,@green,@blue,@opacity)
{
    background-color: rgba(@red, @green, @blue, @opacity);
}
/* Gradiant background */
.mixin-background-radial-gradient(@color1,@color2)
{
    background: @color1; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(circle, @color1, @color2); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(circle, @color1, @color2); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, @color1, @color2); /* For Firefox 3.6 to 15 */
    background: radial-gradient(circle, @color1, @color2); /* Standard syntax */
}