@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*
 * Theme Name: MEO Theme Immobilier Steiner
 * Description: Starter Theme to use with Timber
 * Author: MEO Design & Communication
*/
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html {
  margin-top: 0 !important;
}
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  text-shadow: none;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
/*
    
    *** VARIABLES LESS *** 
    
    Path: theme/less/homepage.less 
    Created on : 29 sept. 2016, 08:21:57
    Author     : MEO
*/
/****************************************************************
 BASE TEMPLATE COLOR VARIABLRES
 ****************************************************************/
/****************************************************************
 BACKGROUND VARIABLRES
 ****************************************************************/
/****************************************************************
 FONT SIZE VARIABLRES
 ****************************************************************/
/****************************************************************
 FONT AWESOME VARIABLRES
 ****************************************************************/
/****************************************************************
 OTHER VARIABLRES
 ****************************************************************/
/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.6.3');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.fa-pull-left {
  float: left;
}
.fa-pull-right {
  float: right;
}
.fa.fa-pull-left {
  margin-right: .3em;
}
.fa.fa-pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-feed:before,
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0f3";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0a2";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
.fa-space-shuttle:before {
  content: "\f197";
}
.fa-slack:before {
  content: "\f198";
}
.fa-envelope-square:before {
  content: "\f199";
}
.fa-wordpress:before {
  content: "\f19a";
}
.fa-openid:before {
  content: "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}
.fa-yahoo:before {
  content: "\f19e";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-reddit:before {
  content: "\f1a1";
}
.fa-reddit-square:before {
  content: "\f1a2";
}
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}
.fa-stumbleupon:before {
  content: "\f1a4";
}
.fa-delicious:before {
  content: "\f1a5";
}
.fa-digg:before {
  content: "\f1a6";
}
.fa-pied-piper-pp:before {
  content: "\f1a7";
}
.fa-pied-piper-alt:before {
  content: "\f1a8";
}
.fa-drupal:before {
  content: "\f1a9";
}
.fa-joomla:before {
  content: "\f1aa";
}
.fa-language:before {
  content: "\f1ab";
}
.fa-fax:before {
  content: "\f1ac";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-child:before {
  content: "\f1ae";
}
.fa-paw:before {
  content: "\f1b0";
}
.fa-spoon:before {
  content: "\f1b1";
}
.fa-cube:before {
  content: "\f1b2";
}
.fa-cubes:before {
  content: "\f1b3";
}
.fa-behance:before {
  content: "\f1b4";
}
.fa-behance-square:before {
  content: "\f1b5";
}
.fa-steam:before {
  content: "\f1b6";
}
.fa-steam-square:before {
  content: "\f1b7";
}
.fa-recycle:before {
  content: "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}
.fa-tree:before {
  content: "\f1bb";
}
.fa-spotify:before {
  content: "\f1bc";
}
.fa-deviantart:before {
  content: "\f1bd";
}
.fa-soundcloud:before {
  content: "\f1be";
}
.fa-database:before {
  content: "\f1c0";
}
.fa-file-pdf-o:before {
  content: "\f1c1";
}
.fa-file-word-o:before {
  content: "\f1c2";
}
.fa-file-excel-o:before {
  content: "\f1c3";
}
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}
.fa-file-code-o:before {
  content: "\f1c9";
}
.fa-vine:before {
  content: "\f1ca";
}
.fa-codepen:before {
  content: "\f1cb";
}
.fa-jsfiddle:before {
  content: "\f1cc";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}
.fa-circle-o-notch:before {
  content: "\f1ce";
}
.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}
.fa-git-square:before {
  content: "\f1d2";
}
.fa-git:before {
  content: "\f1d3";
}
.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "\f1d4";
}
.fa-tencent-weibo:before {
  content: "\f1d5";
}
.fa-qq:before {
  content: "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}
.fa-history:before {
  content: "\f1da";
}
.fa-circle-thin:before {
  content: "\f1db";
}
.fa-header:before {
  content: "\f1dc";
}
.fa-paragraph:before {
  content: "\f1dd";
}
.fa-sliders:before {
  content: "\f1de";
}
.fa-share-alt:before {
  content: "\f1e0";
}
.fa-share-alt-square:before {
  content: "\f1e1";
}
.fa-bomb:before {
  content: "\f1e2";
}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}
.fa-tty:before {
  content: "\f1e4";
}
.fa-binoculars:before {
  content: "\f1e5";
}
.fa-plug:before {
  content: "\f1e6";
}
.fa-slideshare:before {
  content: "\f1e7";
}
.fa-twitch:before {
  content: "\f1e8";
}
.fa-yelp:before {
  content: "\f1e9";
}
.fa-newspaper-o:before {
  content: "\f1ea";
}
.fa-wifi:before {
  content: "\f1eb";
}
.fa-calculator:before {
  content: "\f1ec";
}
.fa-paypal:before {
  content: "\f1ed";
}
.fa-google-wallet:before {
  content: "\f1ee";
}
.fa-cc-visa:before {
  content: "\f1f0";
}
.fa-cc-mastercard:before {
  content: "\f1f1";
}
.fa-cc-discover:before {
  content: "\f1f2";
}
.fa-cc-amex:before {
  content: "\f1f3";
}
.fa-cc-paypal:before {
  content: "\f1f4";
}
.fa-cc-stripe:before {
  content: "\f1f5";
}
.fa-bell-slash:before {
  content: "\f1f6";
}
.fa-bell-slash-o:before {
  content: "\f1f7";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-copyright:before {
  content: "\f1f9";
}
.fa-at:before {
  content: "\f1fa";
}
.fa-eyedropper:before {
  content: "\f1fb";
}
.fa-paint-brush:before {
  content: "\f1fc";
}
.fa-birthday-cake:before {
  content: "\f1fd";
}
.fa-area-chart:before {
  content: "\f1fe";
}
.fa-pie-chart:before {
  content: "\f200";
}
.fa-line-chart:before {
  content: "\f201";
}
.fa-lastfm:before {
  content: "\f202";
}
.fa-lastfm-square:before {
  content: "\f203";
}
.fa-toggle-off:before {
  content: "\f204";
}
.fa-toggle-on:before {
  content: "\f205";
}
.fa-bicycle:before {
  content: "\f206";
}
.fa-bus:before {
  content: "\f207";
}
.fa-ioxhost:before {
  content: "\f208";
}
.fa-angellist:before {
  content: "\f209";
}
.fa-cc:before {
  content: "\f20a";
}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}
.fa-meanpath:before {
  content: "\f20c";
}
.fa-buysellads:before {
  content: "\f20d";
}
.fa-connectdevelop:before {
  content: "\f20e";
}
.fa-dashcube:before {
  content: "\f210";
}
.fa-forumbee:before {
  content: "\f211";
}
.fa-leanpub:before {
  content: "\f212";
}
.fa-sellsy:before {
  content: "\f213";
}
.fa-shirtsinbulk:before {
  content: "\f214";
}
.fa-simplybuilt:before {
  content: "\f215";
}
.fa-skyatlas:before {
  content: "\f216";
}
.fa-cart-plus:before {
  content: "\f217";
}
.fa-cart-arrow-down:before {
  content: "\f218";
}
.fa-diamond:before {
  content: "\f219";
}
.fa-ship:before {
  content: "\f21a";
}
.fa-user-secret:before {
  content: "\f21b";
}
.fa-motorcycle:before {
  content: "\f21c";
}
.fa-street-view:before {
  content: "\f21d";
}
.fa-heartbeat:before {
  content: "\f21e";
}
.fa-venus:before {
  content: "\f221";
}
.fa-mars:before {
  content: "\f222";
}
.fa-mercury:before {
  content: "\f223";
}
.fa-intersex:before,
.fa-transgender:before {
  content: "\f224";
}
.fa-transgender-alt:before {
  content: "\f225";
}
.fa-venus-double:before {
  content: "\f226";
}
.fa-mars-double:before {
  content: "\f227";
}
.fa-venus-mars:before {
  content: "\f228";
}
.fa-mars-stroke:before {
  content: "\f229";
}
.fa-mars-stroke-v:before {
  content: "\f22a";
}
.fa-mars-stroke-h:before {
  content: "\f22b";
}
.fa-neuter:before {
  content: "\f22c";
}
.fa-genderless:before {
  content: "\f22d";
}
.fa-facebook-official:before {
  content: "\f230";
}
.fa-pinterest-p:before {
  content: "\f231";
}
.fa-whatsapp:before {
  content: "\f232";
}
.fa-server:before {
  content: "\f233";
}
.fa-user-plus:before {
  content: "\f234";
}
.fa-user-times:before {
  content: "\f235";
}
.fa-hotel:before,
.fa-bed:before {
  content: "\f236";
}
.fa-viacoin:before {
  content: "\f237";
}
.fa-train:before {
  content: "\f238";
}
.fa-subway:before {
  content: "\f239";
}
.fa-medium:before {
  content: "\f23a";
}
.fa-yc:before,
.fa-y-combinator:before {
  content: "\f23b";
}
.fa-optin-monster:before {
  content: "\f23c";
}
.fa-opencart:before {
  content: "\f23d";
}
.fa-expeditedssl:before {
  content: "\f23e";
}
.fa-battery-4:before,
.fa-battery-full:before {
  content: "\f240";
}
.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "\f241";
}
.fa-battery-2:before,
.fa-battery-half:before {
  content: "\f242";
}
.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "\f243";
}
.fa-battery-0:before,
.fa-battery-empty:before {
  content: "\f244";
}
.fa-mouse-pointer:before {
  content: "\f245";
}
.fa-i-cursor:before {
  content: "\f246";
}
.fa-object-group:before {
  content: "\f247";
}
.fa-object-ungroup:before {
  content: "\f248";
}
.fa-sticky-note:before {
  content: "\f249";
}
.fa-sticky-note-o:before {
  content: "\f24a";
}
.fa-cc-jcb:before {
  content: "\f24b";
}
.fa-cc-diners-club:before {
  content: "\f24c";
}
.fa-clone:before {
  content: "\f24d";
}
.fa-balance-scale:before {
  content: "\f24e";
}
.fa-hourglass-o:before {
  content: "\f250";
}
.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "\f251";
}
.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "\f252";
}
.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "\f253";
}
.fa-hourglass:before {
  content: "\f254";
}
.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "\f255";
}
.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "\f256";
}
.fa-hand-scissors-o:before {
  content: "\f257";
}
.fa-hand-lizard-o:before {
  content: "\f258";
}
.fa-hand-spock-o:before {
  content: "\f259";
}
.fa-hand-pointer-o:before {
  content: "\f25a";
}
.fa-hand-peace-o:before {
  content: "\f25b";
}
.fa-trademark:before {
  content: "\f25c";
}
.fa-registered:before {
  content: "\f25d";
}
.fa-creative-commons:before {
  content: "\f25e";
}
.fa-gg:before {
  content: "\f260";
}
.fa-gg-circle:before {
  content: "\f261";
}
.fa-tripadvisor:before {
  content: "\f262";
}
.fa-odnoklassniki:before {
  content: "\f263";
}
.fa-odnoklassniki-square:before {
  content: "\f264";
}
.fa-get-pocket:before {
  content: "\f265";
}
.fa-wikipedia-w:before {
  content: "\f266";
}
.fa-safari:before {
  content: "\f267";
}
.fa-chrome:before {
  content: "\f268";
}
.fa-firefox:before {
  content: "\f269";
}
.fa-opera:before {
  content: "\f26a";
}
.fa-internet-explorer:before {
  content: "\f26b";
}
.fa-tv:before,
.fa-television:before {
  content: "\f26c";
}
.fa-contao:before {
  content: "\f26d";
}
.fa-500px:before {
  content: "\f26e";
}
.fa-amazon:before {
  content: "\f270";
}
.fa-calendar-plus-o:before {
  content: "\f271";
}
.fa-calendar-minus-o:before {
  content: "\f272";
}
.fa-calendar-times-o:before {
  content: "\f273";
}
.fa-calendar-check-o:before {
  content: "\f274";
}
.fa-industry:before {
  content: "\f275";
}
.fa-map-pin:before {
  content: "\f276";
}
.fa-map-signs:before {
  content: "\f277";
}
.fa-map-o:before {
  content: "\f278";
}
.fa-map:before {
  content: "\f279";
}
.fa-commenting:before {
  content: "\f27a";
}
.fa-commenting-o:before {
  content: "\f27b";
}
.fa-houzz:before {
  content: "\f27c";
}
.fa-vimeo:before {
  content: "\f27d";
}
.fa-black-tie:before {
  content: "\f27e";
}
.fa-fonticons:before {
  content: "\f280";
}
.fa-reddit-alien:before {
  content: "\f281";
}
.fa-edge:before {
  content: "\f282";
}
.fa-credit-card-alt:before {
  content: "\f283";
}
.fa-codiepie:before {
  content: "\f284";
}
.fa-modx:before {
  content: "\f285";
}
.fa-fort-awesome:before {
  content: "\f286";
}
.fa-usb:before {
  content: "\f287";
}
.fa-product-hunt:before {
  content: "\f288";
}
.fa-mixcloud:before {
  content: "\f289";
}
.fa-scribd:before {
  content: "\f28a";
}
.fa-pause-circle:before {
  content: "\f28b";
}
.fa-pause-circle-o:before {
  content: "\f28c";
}
.fa-stop-circle:before {
  content: "\f28d";
}
.fa-stop-circle-o:before {
  content: "\f28e";
}
.fa-shopping-bag:before {
  content: "\f290";
}
.fa-shopping-basket:before {
  content: "\f291";
}
.fa-hashtag:before {
  content: "\f292";
}
.fa-bluetooth:before {
  content: "\f293";
}
.fa-bluetooth-b:before {
  content: "\f294";
}
.fa-percent:before {
  content: "\f295";
}
.fa-gitlab:before {
  content: "\f296";
}
.fa-wpbeginner:before {
  content: "\f297";
}
.fa-wpforms:before {
  content: "\f298";
}
.fa-envira:before {
  content: "\f299";
}
.fa-universal-access:before {
  content: "\f29a";
}
.fa-wheelchair-alt:before {
  content: "\f29b";
}
.fa-question-circle-o:before {
  content: "\f29c";
}
.fa-blind:before {
  content: "\f29d";
}
.fa-audio-description:before {
  content: "\f29e";
}
.fa-volume-control-phone:before {
  content: "\f2a0";
}
.fa-braille:before {
  content: "\f2a1";
}
.fa-assistive-listening-systems:before {
  content: "\f2a2";
}
.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: "\f2a3";
}
.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: "\f2a4";
}
.fa-glide:before {
  content: "\f2a5";
}
.fa-glide-g:before {
  content: "\f2a6";
}
.fa-signing:before,
.fa-sign-language:before {
  content: "\f2a7";
}
.fa-low-vision:before {
  content: "\f2a8";
}
.fa-viadeo:before {
  content: "\f2a9";
}
.fa-viadeo-square:before {
  content: "\f2aa";
}
.fa-snapchat:before {
  content: "\f2ab";
}
.fa-snapchat-ghost:before {
  content: "\f2ac";
}
.fa-snapchat-square:before {
  content: "\f2ad";
}
.fa-pied-piper:before {
  content: "\f2ae";
}
.fa-first-order:before {
  content: "\f2b0";
}
.fa-yoast:before {
  content: "\f2b1";
}
.fa-themeisle:before {
  content: "\f2b2";
}
.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: "\f2b3";
}
.fa-fa:before,
.fa-font-awesome:before {
  content: "\f2b4";
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
/*
    
    *** FUNCTION LESS *** 
    
    Path: theme/less/utility/functions.less 
    Created on : 29 sept. 2016, 08:21:57
    Author     : MEO
*/
/* Reset Element */
/* Full Screen Element */
/* Create Base Style Title */
/* Vertical Align Element */
/* Vertical Align Element */
/* Create Border Radius */
/* Create Box Shadow */
/* Create Text Shadow */
/* Create Background Color With Opacity */
/* Gradiant background */
/*
    
    *** MEDIA QUERIES LESS *** 
    
    Path: theme/less/utility/media-queries-responsive.less 
    Created on : 29 sept. 2016, 08:21:57
    Author     : MEO
*/
/*  */
/*
    
    *** UTILITY COL LESS *** 
    
    Path: theme/less/utility/col-manager.less 
    Created on : 29 sept. 2016, 08:21:57
    Author     : MEO
*/
/* WRAPPER TABLE CONTENT */
div.wrap-content-full-width-table {
  width: 100%;
  display: table;
}
div.wrap-content-table {
  display: table;
  position: relative;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  div.wrap-content-table {
    width: 100% !important;
  }
}
/* WRAPPER FLEX CONTENT */
div.wrap-content-full-width {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
div.wrap-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  div.wrap-content {
    width: 100%;
  }
}
.wrap-content-90 {
  width: 90%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-90 {
    width: 100%;
  }
}
.wrap-content-80 {
  width: 80%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-80 {
    width: 100%;
  }
}
.wrap-content-35-center {
  width: 35% !important;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-35-center {
    width: 100%;
  }
}
.wrap-content-40-center {
  width: 40% !important;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-40-center {
    width: 100%;
  }
}
.wrap-content-60-center {
  width: 60% !important;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-60-center {
    width: 100%;
  }
}
.wrap-content-80-center {
  width: 80% !important;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-80-center {
    width: 100%;
  }
}
.wrap-content-85-center {
  width: 85% !important;
  margin: 0 auto;
  max-width: 1140px !important;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-85-center {
    width: 100%;
  }
}
.wrap-content-90-center {
  width: 90% !important;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-90-center {
    width: 100%;
  }
}
.wrap-content-95-center {
  width: 95% !important;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-95-center {
    width: 100%;
  }
}
.wrap-content-97-center {
  width: 97% !important;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-97-center {
    width: 100%;
  }
}
.wrap-content-98-center {
  display: flex;
  width: 98% !important;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-98-center {
    width: 100%;
  }
}
.wrap-content-99-center {
  width: 99% !important;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-99-center {
    width: 100%;
  }
}
/* COL FLEX CONTENT */
.col-100 {
  width: 100%;
}
.col-73 {
  width: 73%;
}
.col-70 {
  width: 70%;
}
.col-67 {
  width: 67%;
}
.col-66 {
  width: 66%;
}
.col-65 {
  width: 66%;
}
.col-62 {
  width: 62%;
}
.col-60 {
  width: 60%;
}
.col-50 {
  width: 50%;
}
.col-45 {
  width: 45%;
}
.col-40 {
  width: 40%;
}
.col-38 {
  width: 38%;
}
.col-33 {
  width: 33%;
}
.col-32 {
  width: 32%;
}
.col-31 {
  width: 31%;
}
.col-29 {
  width: 29%;
}
.col-25 {
  width: 25%;
}
.col-20 {
  width: 20%;
}
.flex-col {
  margin: 0;
  padding: 0;
  flex: auto;
  position: relative;
  margin-bottom: 5px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .flex-col {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .flex-col {
    width: 100%;
    margin-bottom: 20px;
  }
}
.flex-col-not-responsive {
  margin: 0;
  padding: 0;
  flex: auto;
  position: relative;
  margin-bottom: 5px;
  /*@media @smartphones
    {
        width: 100%;
        margin-bottom: 20px;
    }*/
}
/* COL CELL CONTENT */
.cell-col {
  display: table-cell;
  position: relative;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .cell-col {
    width: 100%;
    display: table-row;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .cell-col {
    width: 100%;
    display: table-row;
  }
}
/*
    
    *** FONT STYLE LESS *** 
    
    Path: theme/less/homepage.less 
    Created on : 29 sept. 2016, 08:21:57
    Author     : MEO
*/
html,
html body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  html,
  html body {
    font-size: 14px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  html,
  html body {
    font-size: 12px;
  }
}
/** main-content **/
html #main-content,
html #main-content h1,
html #main-content h2,
html #main-content p,
html #main-content a {
  font-family: 'Montserrat', sans-serif;
  color: #4f4e57;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  html #main-content,
  html #main-content h1,
  html #main-content h2,
  html #main-content p,
  html #main-content a {
    padding: 0 !important;
  }
}
html #main-content sup {
  position: relative;
  font-size: 0.6rem;
  top: -5px;
}
html #main-content {
  font-size: 16px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  html #main-content {
    font-size: 14px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  html #main-content {
    font-size: 12px;
  }
}
html #main-content h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 0;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  html #main-content h1 {
    padding: 0 0;
    margin-bottom: 5px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  html #main-content h1 {
    padding: 0 0;
    margin-bottom: 5px;
  }
}
html #main-content h2 {
  font-size: 1.4rem;
  font-weight: normal;
}
html #main-content p {
  margin-bottom: 10px;
}
/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    Created on : 3 oct. 2016, 09:41:12
    Author     : MEO
*/
.wrapper {
  width: 85% !important;
  margin: 0 auto;
  max-width: 1200px !important;
}
.pr10px {
  padding-right: 10px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .pr10px {
    padding-right: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .pr10px {
    padding-right: 0;
  }
}
.pl10px {
  padding-left: 10px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .pl10px {
    padding-left: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .pl10px {
    padding-left: 0;
  }
}
.pr14px {
  padding-right: 14px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .pr14px {
    padding-right: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .pr14px {
    padding-right: 0;
  }
}
.pl14px {
  padding-left: 14px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .pl14px {
    padding-left: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .pl14px {
    padding-left: 0;
  }
}
.pr15px {
  padding-right: 15px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .pr15px {
    padding-right: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .pr15px {
    padding-right: 0;
  }
}
.pl15px {
  padding-left: 15px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .pl15px {
    padding-left: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .pl15px {
    padding-left: 0;
  }
}
.pr30px {
  padding-right: 30px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .pr30px {
    padding-right: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .pr30px {
    padding-right: 0;
  }
}
.pl30px {
  padding-left: 30px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .pl30px {
    padding-left: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .pl30px {
    padding-left: 0;
  }
}
.mr10px {
  margin-right: 10px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .mr10px {
    margin-right: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .mr10px {
    margin-right: 0;
  }
}
.ml10px {
  margin-left: 10px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .ml10px {
    margin-left: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .ml10px {
    margin-left: 0;
  }
}
#main-content .view-switcher {
  position: relative;
  display: block;
  width: 20%;
  padding-bottom: 50px;
}
#main-content .building-content .view-switcher {
  width: 100%;
}
#main-content .view-switcher.list-lot-page {
  top: 0;
  right: 12px;
  position: absolute;
}
#main-content .view-switcher a.btn-siwtch-view-immo {
  top: 0;
  right: 0;
  color: #554f4f;
  display: block;
  padding: 10px;
  position: absolute;
}
#main-content .view-switcher a.btn-siwtch-view-immo .fa {
  color: #554f4f;
  font-size: 1.5rem;
}
#main-content .view-switcher a.btn-siwtch-view-immo img {
  width: 1.5rem;
  height: 1.5rem;
}
#main-content .view-switcher a.btn-siwtch-view-immo:hover .fa {
  color: #66aef3;
}
.btn-download {
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  max-width: 300px;
  width: auto;
  min-width: 180px;
  height: 60px;
  background-color: #95c7f7;
  overflow: hidden;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
@tablets-portrait {
  max-width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .btn-download {
    max-width: 100%;
  }
}
.page-list-price .btn-download {
  width: 250px;
}
@tablets-portrait {
  width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .page-list-price .btn-download {
    width: 100%;
  }
}
.btn-download .btn-intern-icon {
  width: 70px;
  height: 60px;
  text-align: center;
  display: inline-block;
  background-color: #66aef3;
}
.btn-download .btn-intern-icon:after {
  position: absolute;
  top: 0;
  left: 70px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 30px 9px;
  border-color: transparent transparent transparent #66aef3;
}
.btn-download:hover {
  background-color: #66aef3;
}
.btn-download:hover .btn-intern-icon {
  background-color: #95c7f7;
}
.btn-download:hover .btn-intern-icon:after {
  border-color: transparent transparent transparent #95c7f7;
}
.btn-download .btn-intern-icon i.fa {
  color: #fff;
  font-size: 2.4rem;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.btn-download p {
  top: 50%;
  right: 0px;
  position: absolute;
  display: block;
  width: calc(75%);
  color: #fff;
  line-height: 1.2rem;
  text-align: center;
  transform: translateY(-50%);
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .btn-download p {
    width: 82%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .btn-download p {
    width: 82%;
  }
}
.btn-download p span {
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 1.5rem;
}
.btn-download p span strong.price_list_download_txt {
  display: block;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .btn-download p span strong.price_list_download_txt {
    display: inline;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .btn-download p span strong.price_list_download_txt {
    display: inline;
  }
}
.btn-download p span strong {
  text-transform: uppercase;
}
.fancybox-inner {
  overflow: hidden !important;
}
/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    Created on : 11 oct. 2016, 15:57:43
    Author     : MEO
*/
section.smartcapture {
  width: 100%;
  margin-bottom: 30px;
}
section.smartcapture div#logoSmartCapture {
  display: block;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #aaa;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  section.smartcapture div#logoSmartCapture {
    padding-top: 20px;
  }
}
section.smartcapture div#logoSmartCapture img {
  display: block;
  width: 60%;
  max-width: 60%;
  margin: 0 auto;
}
.wpcf7-response-output.wpcf7-validation-errors,
span.wpcf7-not-valid-tip {
  color: red;
}
.wpcf7-response-output.wpcf7-mail-sent-ok {
  color: #889425;
  text-align: center;
  font-weight: bold;
}
.wpcf7 .screen-reader-response {
  display: none;
}
form.wpcf7-form img.ajax-loader {
  display: none !important;
}
form.wpcf7-form {
  width: 100%;
}
.wpcf7-form input,
.wpcf7-form select {
  width: 94%;
  padding: 10px 3%;
  border: 1px solid #efefef;
  background: transparent;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
#smartcapture-form .wpcf7-form select {
  width: calc(101%);
  margin-top: 5px;
}
#smartcapture-form .wpcf7-form,
#smartcapture-form .wpcf7-form p,
#smartcapture-form .wpcf7-form p input {
  max-width: 100%;
  max-width: 350px;
}
#smartcapture-form .wpcf7-form p {
  margin-bottom: 10px;
}
#smartcapture-form .wpcf7-form p:last-child {
  margin-bottom: 0;
}
#smartcapture-form {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}
#smartcapture-form input.wpcf7-form-control.wpcf7-submit.submit-smart-capture,
#smartcapture-form #previous-page-button {
  font-family: 'Montserrat', sans-serif;
  margin-top: 15px;
  width: 100%;
  background-color: #66aef3;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
}
#smartcapture-form #previous-page-button {
  color: #000;
  display: block;
  padding: 10px 0;
  text-align: center;
  background-color: #efefef;
  text-decoration: none;
}
/*
    
    *** HOMEPAGE LESS *** 
    
    Path: theme/less/homepage.less 
    Created on : 29 sept. 2016, 08:21:57
    Author     : MEO
*/
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 !important;
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation : landscape) {
  html {
    height: auto;
    min-height: 600px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation : portrait) {
  #svg-smartphone-landscape-left,
  #svg-smartphone-landscape-right {
    display: none;
  }
  #svg-smartphone-portrait-left,
  #svg-smartphone-portrait-right {
    display: block;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation : landscape) {
  #svg-smartphone-landscape-left,
  #svg-smartphone-landscape-right {
    display: block;
  }
  #svg-smartphone-portrait-left,
  #svg-smartphone-portrait-right {
    display: none;
  }
}
@media only screen and (min-width : 737px) and (max-width : 1280px) {
  #svg-smartphone-landscape-left,
  #svg-smartphone-landscape-right {
    display: block;
  }
  #svg-smartphone-portrait-left,
  #svg-smartphone-portrait-right {
    display: none;
  }
}
html body#homepage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-color: #666;
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation : landscape) {
  html body#homepage {
    height: auto;
    min-height: 600px;
  }
}
html body#homepage #slider {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
}
html body#homepage #slider .slide {
  top: 0;
  left: 0;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
}
html body#homepage #slider #slide-0 {
  z-index: 5;
}
html body#homepage #slider .slide > div.slide-image {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /*transform: scale(1);
            transition: all 5s;*/
}
html body#homepage #slider .slide > div.slide-image div.slide-bg-gradient {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}
html body#homepage div.slide-txt {
  top: 15%;
  padding: 0;
  position: relative;
  width: 530px;
  min-width: 530px;
  max-width: 530px;
  margin: 0 auto;
}
html body#homepage div.slide-txt > section {
  padding: 0;
  margin: 0;
}
html body#homepage div.slide-txt > section p {
  color: #4f4e57;
  font-size: 30px;
  line-height: 35px;
  font-weight: lighter;
  padding-left: 1.5rem;
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation : portrait) {
  html body#homepage div.slide-txt > section p {
    font-size: 18px;
    line-height: 23px;
    padding-left: 0px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation : landscape) {
  html body#homepage div.slide-txt > section p {
    padding-left: 0;
  }
}
html body#homepage div.slide-txt > section p.texte_1 {
  padding-top: 16%;
  font-weight: bold;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) {
  html body#homepage div.slide-txt > section p.texte_1 {
    padding-top: 0%;
  }
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  html body#homepage div.slide-txt > section p.texte_1 {
    padding-top: 15%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation : portrait) {
  html body#homepage div.slide-txt > section p.texte_1 {
    padding-top: 15%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation : landscape) {
  html body#homepage div.slide-txt > section p.texte_1 {
    padding-top: 0%;
  }
}
html body#homepage div.slide-txt > section p.texte_2:after {
  background-color: #FFF;
  height: 2px;
  width: 20%;
}
html body#homepage #content {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 10;
  overflow: hidden;
  position: absolute;
}
html body#homepage .bloc-logo-homepage {
  height: 155px;
  width: 530px;
  max-width: 90%;
  display: flex;
  margin: 0 auto;
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
html body#homepage .bloc-logo-homepage div > .svgelem {
  -moz-transform: scaleY(-1);
  /* Gecko */
  -o-transform: scaleY(-1);
  /* Opera */
  -webkit-transform: scaleY(-1);
  /* Webkit */
  transform: scaleY(-1);
  /* Standard */
  width: 100%;
  height: auto;
}
html body#homepage .bloc-logo-homepage div > .svgelem polygon {
  /*width: 100%;
    height: 100%;*/
  fill: rgba(255, 255, 255, 0.9);
}
html body#homepage .bloc-logo-homepage div.left-content {
  width: 50px;
  margin-right: 10px;
  margin-right: 2%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation : portrait) {
  html body#homepage .bloc-logo-homepage div.left-content {
    width: 25px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation : landscape) {
  html body#homepage .bloc-logo-homepage div.left-content {
    width: 1px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html body#homepage .bloc-logo-homepage div.left-content {
    overflow: hidden;
  }
}
html body#homepage .bloc-logo-homepage > div {
  flex: auto;
  position: relative;
}
html body#homepage .bloc-logo-homepage > div.right-content {
  width: 300px;
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation : portrait) {
  html body#homepage .bloc-logo-homepage > div.right-content {
    width: 150px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation : landscape) {
  html body#homepage .bloc-logo-homepage > div.right-content {
    width: 300px;
  }
}
html body#homepage .bloc-logo-homepage > div.left-content > img {
  width: 60%;
  max-width: 60%;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 20%;
}
html body#homepage .bloc-logo-homepage > div.right-content > img {
  width: 80%;
  max-width: 80%;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 1.5rem;
}
.shadow {
  /*-webkit-filter: drop-shadow( 0 0 5px #000 );
    filter: drop-shadow( 0 0 5px #000 );*/
}
#home-nav {
  width: 100%;
  max-width: 310px;
  position: relative;
  margin: -7px auto 0 auto;
  padding-left: 10px;
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation : portrait) {
  #home-nav {
    margin-top: 0px;
    margin-left: 0.75rem;
    padding-left: 0px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation : landscape) {
  #home-nav {
    margin-top: 0px;
    padding-left: 0px;
  }
}
.home-nav ul,
.home-nav ul li {
  list-style: none;
}
.home-nav > ul > li.plan,
.home-nav > ul > li.contact,
.home-nav > ul > li.info {
  display: inline-block;
}
.home-nav > ul > li {
  width: 30%;
  max-width: 100px;
  min-height: 40px;
  margin-right: 0px;
  position: relative;
  background-color: #8f776a;
}
.home-nav > ul > li:last-child {
  margin-right: 0;
}
.home-nav > ul > li > span {
  width: 100%;
  color: #FFF;
  cursor: pointer;
  display: block;
  font-weight: lighter;
  text-align: center;
  padding: 10px 0 0 0;
  text-decoration: none;
}
.home-nav > ul li > a {
  display: none;
}
.home-nav > ul li > a div.item-home-nav {
  display: none;
  left: 0;
  width: 100%;
  top: 40px;
  padding: 15px 0 5px 0;
  position: absolute;
  background-color: #aaa;
}
.home-nav > ul li > a div.item-home-nav.item-plan {
  background-color: #4f4e57;
}
.home-nav > ul li > a div.item-home-nav.item-contact {
  background-color: #4f4e57;
}
.home-nav > ul li > a div.item-home-nav.item-plan img {
  display: block;
  width: 55px;
  margin: 0 auto;
}
.home-nav > ul li > a div.item-home-nav.item-contact img {
  display: block;
  width: 55px;
  margin: 0 auto;
}
.home-nav > ul li div.menu-homepage_nav-container {
  display: none;
  left: 0;
  width: 100%;
  top: 40px;
  position: absolute;
  padding: 5px 0 5px 0;
  background-color: #4f4e57;
}
.home-nav > ul li div.menu-homepage_nav-container > ul > li {
  padding: 0 0 20px 0;
}
.home-nav > ul li div.menu-homepage_nav-container > ul > li:first-child {
  padding: 10px 0 20px 0;
}
.home-nav > ul li div.menu-homepage_nav-container > ul > li:last-child {
  padding: 0 0 15px 0;
}
.home-nav > ul li div.menu-homepage_nav-container > ul > li,
.home-nav > ul li div.menu-homepage_nav-container > ul > li a {
  color: #FFF;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation : portrait) {
  .home-nav > ul li div.menu-homepage_nav-container > ul > li,
  .home-nav > ul li div.menu-homepage_nav-container > ul > li a {
    font-size: 10px;
  }
}
.home-nav > ul li div.menu-homepage_nav-container > ul > li a:hover {
  text-decoration: underline;
}
.home-nav > ul > li:hover a,
.home-nav > ul > li:hover > div,
.home-nav > ul > li:hover > a > div.item-home-nav {
  display: block;
}
.home-nav > ul > li.info div.menu {
  position: relative;
}
.home-nav > ul > li.info div.menu > ul {
  top: 40px;
  left: 0;
  position: absolute;
  background-color: #8f776a;
  width: 100px;
  max-width: 100px;
}
.home-nav > ul > li.info div.menu > ul > li {
  padding: 0 0px;
}
.home-nav > ul > li.info div.menu > ul > li > a {
  font-size: 12px;
  color: white;
  text-align: center;
  text-decoration: none;
}
#content-bottom .flex-col:last-child {
  text-align: right;
}
#content-bottom .flex-col:last-child img {
  margin-left: 15px;
  /*@media @tablets-portrait
        {
            display: none;
        }
        @media @smartphones
        {
            display: none;
        }*/
}
#content-bottom .flex-col:last-child a:first-child > img {
  position: relative;
}
#content-bottom .flex-col:last-child a:last-child > img {
  bottom: 0px;
  right: 0;
  position: absolute;
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation : portrait) {
  #content-bottom .flex-col:last-child a:last-child > img {
    display: none;
  }
}
#content-bottom {
  width: 100%;
  left: 0;
  bottom: 15px;
  position: absolute;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  #content-bottom {
    bottom: -10px;
    padding-left: 5px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #content-bottom {
    bottom: -10px;
    padding-left: 5px;
  }
}
#content-bottom .logo-steiner-home {
  position: relative;
}
#content-bottom #logo-steiner-txt {
  position: absolute;
  bottom: 25px;
}
#content-bottom #logo-steiner {
  position: absolute;
  bottom: 0;
  max-width: 220px;
}
#content-bottom #logo-plus-sa {
  max-width: 120px;
  position: absolute;
  bottom: -5px;
  left: 250px;
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation : portrait) {
  #content-bottom #logo-plus-sa {
    display: none;
  }
}
#content-bottom p {
  color: #FFF;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}
/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor. 
    Created on : 3 oct. 2016, 08:15:02
    Author     : MEO
*/
#header {
  width: 100%;
  padding-top: 70px;
  background: transparent url(images/background-header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.bloc-logo-header {
  height: 100px;
  width: 390px;
  display: flex;
  position: relative;
  left: 0;
  bottom: -30px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .bloc-logo-header {
    width: 350px !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .bloc-logo-header {
    width: 297px !important;
  }
}
.bloc-logo-header div > .svgelem {
  -moz-transform: scaleY(-1);
  /* Gecko */
  -o-transform: scaleY(-1);
  /* Opera */
  -webkit-transform: scaleY(-1);
  /* Webkit */
  transform: scaleY(-1);
  /* Standard */
  width: 100%;
  height: 100%;
}
.bloc-logo-header div > .svgelem polygon {
  width: 100%;
  height: 100%;
  fill: rgba(255, 255, 255, 0.9);
}
.bloc-logo-header div.left-content {
  width: 90px;
  margin-right: 10px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html body#homepage .bloc-logo-homepage div.left-content {
    overflow: hidden;
  }
}
.bloc-logo-header > div {
  flex: auto;
  position: relative;
}
.bloc-logo-header > div.right-content {
  width: 290px;
}
.bloc-logo-header > div.left-content > img {
  width: 65%;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 17.5%;
}
.bloc-logo-header > div.right-content > img {
  width: 75%;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 20px;
}
#header .wrapper img#img-logo {
  flex: auto;
  width: 297px;
  max-width: 297px !important;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 50px;
  margin-left: 10px;
}
#header .wrapper.top-head {
  position: relative;
  top: 20px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  #header .wrapper.top-head {
    width: 297px !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #header .wrapper.top-head {
    width: 297px !important;
  }
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  #header .wrapper.top-head img#img-logo {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #header .wrapper.top-head img#img-logo {
    margin-left: 0px;
  }
}
#header #main-navigation {
  width: 100%;
  margin-top: 50px;
  padding: 0;
  position: relative;
  background-color: rgba(143, 119, 106, 0.9);
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  #header #main-navigation {
    display: block;
    padding: 0 0px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #header #main-navigation {
    display: block;
    padding: 0 0px;
  }
}
#header #main-navigation ul {
  width: 100%;
  display: flex;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  #header #main-navigation ul {
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #header #main-navigation ul {
    display: none;
  }
}
#header #main-navigation ul > li {
  position: relative;
  list-style: none;
  padding: 15px 20px;
  max-height: 25px !important;
}
#header #main-navigation ul > li:hover,
#header #main-navigation ul#menu-main_navigation > li.current-menu-item,
#header #main-navigation ul#menu-main_navigation > li.current-menu-parent {
  background-color: #4f4e57;
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  padding: 15px 19px;
}
#header #main-navigation ul > li > a {
  width: 100%;
  height: 100%;
  max-height: 25px !important;
  color: #fff;
  display: block;
  text-align: left;
  text-decoration: none;
}
#header #main-navigation ul > li:hover ul.sub-menu {
  display: block;
}
#header #main-navigation ul ul.sub-menu {
  bottom: -183%;
  left: -1px;
  z-index: 200;
  min-width: 150px;
  display: none;
  list-style: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #efefef;
  /* border-top: 3px solid @blue;*/
  overflow: hidden;
}
#header #main-navigation ul ul.sub-menu > li {
  display: block;
  color: #000;
  width: 100%;
  border-bottom: 1px solid #efefef;
}
#header #main-navigation ul ul.sub-menu > li:hover {
  background-color: #efefef;
}
#header #main-navigation ul ul.sub-menu > li:last-child {
  border-bottom: none;
}
#header #main-navigation ul ul.sub-menu > li > a {
  font-size: 0.8rem;
  color: #000;
}
#header #main-navigation #burger-nav,
#header #main-navigation #mobile-nav {
  display: none;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  #header #main-navigation #burger-nav,
  #header #main-navigation #mobile-nav {
    display: block;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #header #main-navigation #burger-nav,
  #header #main-navigation #mobile-nav {
    display: block;
  }
}
#header #main-navigation #burger-nav {
  text-align: right;
  padding: 10px 10px;
}
#header #main-navigation #burger-nav i.fa {
  color: #FFF;
  font-size: 2rem;
  cursor: pointer;
}
#mobile-nav {
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  position: absolute;
  background-color: #dfdfdf;
  z-index: 4000;
  overflow: hidden;
  margin-top: -50px;
}
#mobile-nav ul#menu-main_navigation,
#mobile-nav ul#menu-main_navigation li.menu-item {
  width: 100%;
  display: block;
}
#mobile-nav ul#menu-main_navigation li.menu-item {
  border: none;
  position: relative;
  border-bottom: 1px solid rgba(100, 100, 100, 0.7);
}
#mobile-nav ul#menu-main_navigation li.menu-item.current-menu-item,
#mobile-nav ul#menu-main_navigation li.menu-item.current-menu-parent {
  background-color: #4f4e57;
}
#mobile-nav ul#menu-main_navigation li.menu-item a {
  color: #333;
  display: block;
  width: 100%;
  padding: 15px 20px !important;
  text-decoration: none;
  font-size: 1.5rem;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #mobile-nav ul#menu-main_navigation li.menu-item a {
    padding: 5px 20px !important;
  }
}
#mobile-nav ul#menu-main_navigation li.menu-item ul.sub-menu {
  top: 0;
  left: 0;
  position: relative;
  background-color: #efefef;
  width: 100%;
}
#mobile-nav ul#menu-main_navigation li.menu-item ul.sub-menu li {
  border-bottom: 1px solid #aaa;
}
#mobile-nav ul#menu-main_navigation li.menu-item ul.sub-menu li:last-child {
  border-bottom: none;
}
#mobile-nav ul#menu-main_navigation li.menu-item ul.sub-menu li.current-menu-item {
  background-color: #afafaf;
}
#mobile-nav ul#menu-main_navigation li.menu-item ul.sub-menu li a {
  color: #000;
  font-size: 1rem;
  padding-left: 60px;
  display: block;
}
/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.

    Created on : 3 oct. 2016, 15:24:15
    Author     : MEO
*/
#main-content {
  padding: 50px 0;
  width: 100%;
  max-width: 100%;
  position: relative;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #main-content {
    margin: 50px 0 !important;
  }
}
#main-content img,
#main-content .flex-col img {
  width: 100%;
}
/*
 *    PAGE CONCEPT   
 */
#main-content .page-concept h1 {
  padding: 0 10px;
}
#main-content .page-concept .wrap-content-full-width-table .col-67,
#main-content .page-concept .wrap-content-full-width-table .col-66,
#main-content .page-concept .wrap-content-full-width-table .col-33,
#main-content .page-concept .wrap-content-full-width-table .col-32 {
  border: 1px solid #efefef;
  padding: 20px;
}
#main-content .page-concept .wrap-content-full-width-table {
  border-collapse: separate;
  border-spacing: 10px 5px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  #main-content .page-concept .wrap-content-full-width-table {
    border-spacing: 0px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #main-content .page-concept .wrap-content-full-width-table {
    border-spacing: 0px;
  }
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  #main-content .page-concept .wrap-content-full-width-table .cell-col {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #main-content .page-concept .wrap-content-full-width-table .cell-col {
    margin-bottom: 100px;
  }
}
#main-content .page-concept .wrap-content-full-width-table .cell-col img,
#main-content .page-concept .wrap-content-full-width-table .cell-col h2,
#main-content .page-concept .wrap-content-full-width-table .cell-col p {
  width: 100%;
}
#main-content .page-concept .wrap-content-full-width-table .cell-col h2 {
  display: block;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  #main-content .page-concept .wrap-content-full-width-table .cell-col h2 {
    padding-top: 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #main-content .page-concept .wrap-content-full-width-table .cell-col h2 {
    padding-top: 20px;
  }
}
#main-content .page-concept .wrap-content-full-width-table .cell-col h2:after {
  content: ' ';
  width: 140px;
  display: block;
  height: 2px;
  margin-top: 5px;
  margin-bottom: 35px;
}
#main-content .page-concept .wrap-content-full-width-table .cell-col {
  background-color: rgba(191, 227, 233, 0.1);
}
#main-content .page-concept .wrap-content-full-width-table .cell-col h2.yellow {
  color: #4f4e57;
}
#main-content .page-concept .wrap-content-full-width-table .cell-col h2.yellow:after {
  background-color: #4f4e57;
}
#main-content .page-concept .wrap-content-full-width-table .cell-col h2.blue {
  color: #66aef3;
}
#main-content .page-concept .wrap-content-full-width-table .cell-col h2.blue:after {
  background-color: #66aef3;
}
#main-content .page-concept .wrap-content-full-width-table .cell-col h2.green {
  color: #f4e9df;
}
#main-content .page-concept .wrap-content-full-width-table .cell-col h2.green:after {
  background-color: #f4e9df;
}
#main-content .page-concept .wrap-content-full-width-table .cell-col img {
  margin-bottom: 35px;
}
/*
 *    PAGE SITUATION   
 */
#main-content .page-situation {
  padding: 0 10px;
}
#main-content .page-situation > div > img {
  margin-bottom: 30px;
}
#main-content .btn-bloc-situation {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}
a.btn-desktop {
  display: block;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  a.btn-desktop {
    display: none;
  }
}
a.btn-mobile {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  a.btn-mobile {
    display: block;
  }
}
#main-content .btn-blue {
  width: 20%;
  flex: 0 auto;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0 35px 0;
  background-color: #66aef3;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  #main-content .btn-blue {
    width: 100%;
    padding: 10px 0 !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #main-content .btn-blue {
    width: 100%;
    padding: 10px 0 !important;
  }
}
#main-content .btn-blue:hover {
  background-color: #4f4e57;
}
/*
 *    PAGE GALERIE   
 */
#main-content .page-galerie {
  padding: 0 10px;
}
/*
 *    PAGE LISTE PRIX   
 */
#main-content .page-list-price {
  padding: 0 10px;
}
/*
 *    PAGE CONTACT   
 */
#main-content .page-contact {
  padding: 0 10px;
}
#main-content .page-contact h1,
#main-content .page-contact h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #efefef;
}
#main-content .page-contact h2.left-title {
  width: 98%;
}
#main-content .page-contact h2.right-title {
  width: 98%;
  margin-left: 10px;
}
#main-content .page-contact .col-100 {
  margin-bottom: 50px;
}
#main-content .page-contact p.information {
  padding-left: 10px;
}
#main-content .page-contact p span {
  font-weight: bold;
  text-transform: uppercase;
}
#main-content .page-contact legend {
  font-size: 0.7rem;
}
#main-content .page-contact iframe {
  width: 100%;
}
#main-content .page-contact form.wpcf7-form input,
#main-content .page-contact form.wpcf7-form textarea {
  width: 96%;
  padding: 10px 2%;
  margin-bottom: 10px;
  border: 1px solid #efefef !important;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
#main-content .page-contact #immoval {
  width: auto !important;
  max-height: 150px !important;
  margin: 50px 0 20px 0;
}
#main-content .page-contact form.wpcf7-form textarea {
  height: 207px;
}
#main-content .page-contact form.wpcf7-form input.wpcf7-form-control.wpcf7-submit {
  width: 20%;
  min-width: 100px;
  float: right;
  background-color: #66aef3;
  border: none;
  color: #fff;
}
/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates

    Created on : 5 oct. 2016, 16:41:49
    Author     : MEO
*/
.rotate-building {
  display: none !important;
}
article.building-container .building-details h2.sector-title {
  visibility: hidden;
  padding-top: 15px;
  color: #66aef3 !important;
  line-height: 19px !important;
  font-size: 18px !important;
  font-weight: normal !important;
}
article.building-container .building-details h2.building-title {
  color: #66aef3 !important;
  line-height: 28px !important;
  font-size: 28px !important;
  font-weight: bold !important;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  article.building-container .building-details h2.building-title {
    line-height: 26px !important;
    font-size: 26px !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  article.building-container .building-details h2.building-title {
    line-height: 24px !important;
    font-size: 24px !important;
    padding: 0;
    margin: 0;
  }
}
article.building-container #table_list_lots {
  border-top: none;
}
article.building-container #table_list_lots thead {
  border-bottom: 1px solid #66aef3 !important;
}
article.building-container #table_list_lots > thead > tr > th {
  color: #66aef3;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #66aef3 !important;
}
article.building-container #table_list_lots {
  border-collapse: separate;
  border-spacing: 0px 10px;
}
article.building-container #table_list_lots > tbody:before {
  content: '-';
  display: block;
  line-height: 1.5em;
  color: transparent;
}
article.building-container #table_list_lots > tbody > tr > td:last-child {
  display: flex;
  flex-wrap: nowrap;
}
article.building-container #table_list_lots > tbody > tr.selected-lot-list > td:last-child > a.details-plan {
  background-color: #554e4e;
}
article.building-container #table_list_lots > tbody > tr {
  position: relative;
  overflow: hidden;
}
article.building-container #table_list_lots > tbody > tr > td.disabled-row:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  content: '-';
  color: transparent;
  display: block;
  background-color: rgba(255, 255, 255, 0.6);
}
article.building-container #table_list_lots > tbody > tr > td {
  padding: 0;
  position: relative;
}
article.building-container #table_list_lots tbody tr:hover {
  background-color: #f1f1f1;
}
article.building-container #table_list_lots > tbody > tr > td:last-child {
  /*background-color: #fff;*/
  padding: 0;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  article.building-container #table_list_lots > tbody > tr > td:last-child {
    background-color: transparent;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  article.building-container #table_list_lots > tbody > tr > td:last-child {
    background-color: transparent;
  }
}
article.building-container #table_list_lots > tbody > tr > td:last-child > a.details-plan {
  flex: auto;
  width: 30% !important;
  margin: 0 1%;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0.5rem 0;
  background-color: #8e8c98;
}
article.building-container #table_list_lots > tbody > tr > td:last-child > a.details-plan img {
  display: inline-block;
  margin-left: 10px;
  width: 20px;
}
article.building-container #table_list_lots > tbody > tr > td:last-child > a.download-plan {
  flex: auto;
  width: 65% !important;
  margin: 0 1%;
  font-size: 14px;
  margin-right: 0;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0.5rem 0;
  background-color: #add4f9;
}
article.building-container #table_list_lots > tbody > tr.selected-lot-list > td:last-child > a.download-plan {
  background-color: #66aef3;
}
article.building-container #table_list_lots > tbody > tr.selected-lot-list > td:last-child > a.details-plan i.fa,
article.building-container #table_list_lots > tbody > tr > td:last-child > a.download-plan i.fa {
  color: #fff;
  margin-left: 10px;
}
.previous-building .icon-bg {
  cursor: pointer;
  background: transparent url(images/arrows_icon.png) no-repeat;
  display: block;
  height: 82px;
  width: 27px;
  background-position: 0 0;
  background-size: 65px;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .previous-building .icon-bg {
    height: 40px;
    width: 20px;
    background-size: 44px;
  }
}
.next-building .icon-bg {
  cursor: pointer;
  background: transparent url(images/arrows_icon.png) no-repeat;
  display: block;
  height: 82px;
  width: 50px;
  background-position: -30px -2px;
  background-size: 65px;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .next-building .icon-bg {
    height: 50px;
    width: 20px;
    background-size: 49px;
  }
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  h2.building-title .details_building {
    height: 100%;
    float: right;
    display: inline-block;
  }
  h2.building-title .details_building i.fa {
    font-size: 22px;
    line-height: 24px;
  }
  .building-container .btn-list-lot {
    margin-bottom: 0;
  }
  a.btn-list-lot {
    color: #fff;
    background-color: #c5e0fa;
    border: none !important;
  }
  a.btn-list-lot.details-plan {
    background-color: #807f8c;
  }
  .building-container a.btn-list-lot.download-plan i.fa {
    color: #fff !important;
  }
  tr td:last-child a.btn-list-lot {
    color: #fff;
    border: none !important;
  }
  tr td:last-child a.btn-list-lot img,
  tr td:last-child a.btn-list-lot i.fa {
    display: none !important;
  }
  a.btn-list-lot i.fa {
    color: #fff;
  }
  a.btn-show-lot-details {
    color: #fff;
    background-color: #c5e0fa !important;
    border: none !important;
  }
  html body .building-container a i.fa {
    color: #fff !important;
  }
  a.btn-list-lot img,
  a.btn-show-lot-details img {
    width: 35% !important;
    max-width: 23px !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  h2.building-title .details_building {
    height: 100%;
    float: right;
    display: inline-block;
  }
  h2.building-title .details_building i.fa {
    font-size: 20px;
    line-height: 24px;
  }
  .building-container .btn-list-lot {
    margin-bottom: 0;
  }
  a.btn-list-lot {
    color: #fff;
    background-color: #c5e0fa !important;
    border: none !important;
  }
  tr td:last-child a.btn-list-lot {
    color: #fff;
    border: none !important;
  }
  a.btn-list-lot i.fa {
    color: #fff;
  }
  a.btn-show-lot-details {
    color: #fff;
    background-color: #c5e0fa !important;
    border: none !important;
  }
  a.btn-show-lot-details i.fa {
    color: #fff;
  }
  a.btn-list-lot img,
  a.btn-show-lot-details img {
    width: 35% !important;
    max-width: 23px !important;
  }
}
.fancybox-inner .detail-popup .information {
  height: 70px;
}
.fancybox-inner .detail-popup .information .lot-details {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #554e4e;
  font-weight: normal;
}
.fancybox-inner .detail-popup .information .lot-details .popup-lot-title {
  color: #536584;
  font-size: 1.5rem;
  font-weight: bold;
}
.fancybox-inner .detail-popup .group-btn {
  width: 50%;
  height: 100px;
  position: relative;
  margin: 0 auto 10px auto;
}
.fancybox-inner .detail-popup .group-btn .btn-popup-situation {
  z-index: 9000;
  font-size: 14px;
  position: absolute;
  width: 100%;
  display: block;
  color: #554e4e;
  padding: 10px 0;
  background-color: #e2e2e2;
  text-decoration: none;
  text-align: center;
}
.fancybox-inner .detail-popup .btn-popup-situation.btn-download-file {
  top: 50px;
  color: #fff;
  background-color: #66aef3;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
}
.fancybox-inner .detail-popup .btn-popup-situation.btn-download-file .fa {
  color: #fff;
  margin-left: 5px;
}
#closePopupFancyBox {
  top: -100px;
  width: 40%;
  position: relative;
  display: block;
  color: #554e4e;
  padding: 10px 0;
  background-color: #e2e2e2;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}
/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    Created on : 7 oct. 2016, 10:43:09
    Author     : MEO
*/
section.page-list-lots {
  margin-bottom: 40px;
}
#list-lot-filter-group-btn span {
  background-color: #66aef3;
  font-weight: bold;
  color: #fff;
}
#list-lot-filter-group-btn span .fa {
  color: #fff;
}
#list-lot-filter-group-btn span.current {
  background-color: #4f4e57;
}
#list-filter,
#list-filter span,
#list-filter .fa {
  color: #66aef3;
}
#list-filter .fa-chevron-down {
  font-size: 0.7rem;
}
#list-filter ul.filter-list,
#list-filter ul.filter-list span {
  color: #554e4e;
}
#list-filter .filter-item {
  border: none;
}
#list-filter .filter-item:hover,
#list-filter .filter-item.active {
  color: #fff;
  background-color: #4f4e57;
}
#list-filter .action-filter #remove-filter {
  background-color: #66aef3;
}
#list-filter .action-filter #remove-filter .fa {
  font-size: 1.3rem;
  color: #fff;
}
article .lot-title {
  color: #66aef3;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : landscape) {
  article .lot-title {
    font-size: 0.8rem;
  }
  article .lot-status,
  article .lot-details {
    font-size: 0.7rem;
  }
  article .status-color-bullet {
    width: 8px !important;
    height: 8px !important;
  }
  article .btn-group-lot-list {
    height: 80px;
  }
}
#list-lot-filter-group-btn {
  position: relative;
}
span.btn-lot {
  background-color: transparent;
  border: none;
}
a.btn-lot {
  border: none !important;
  font-weight: bold;
  background-color: #66aef3 !important;
}
a.btn-situation {
  color: #66aef3 !important;
  border: none !important;
  font-weight: normal;
  background-color: transparent !important;
  text-decoration: underline;
}
.fancybox-skin {
  background-color: #FFF !important;
}
.fancybox-inner .lot-content {
  width: 90%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}
.fancybox-inner .lot-content h2,
.fancybox-inner .lot-content img {
  width: 100%;
}
.fancybox-inner .lot-content .plan-lot {
  padding: 0px 0 10px 0;
}
.fancybox-inner .lot-content h2 {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ccc;
}
.fancybox-inner .lot-content h2 .lot-title {
  font-size: 1.5rem;
  color: #66aef3;
}
.fancybox-inner .lot-content h2 a.btn-lot {
  width: 10% !important;
}
.fancybox-inner .lot-content h2 .lot-details {
  font-size: 1rem;
  color: #554e4e;
  font-weight: normal;
  margin-left: 20px;
}
.fancybox-inner .lot-content h2 .lot-status {
  top: 10px;
  right: 0;
  display: block;
  position: absolute;
}
.fancybox-inner .lot-content h2 .lot-status .status-color-bullet {
  top: 5px;
}
.fancybox-inner .lot-content .bloc-flex.plan-lot div:last-child img:first-child {
  border-bottom: 1px solid #ccc;
  margin: 20px;
}
.fancybox-inner .lot-content .bloc-flex.plan-lot {
  padding-bottom: 10px;
  padding-top: 0px !important;
  border-bottom: 1px solid #ccc;
}
.fancybox-inner .lot-content .bloc-flex.plan-lot div:last-child img:first-child {
  display: block;
  margin: 0 auto 15px auto !important;
  width: 90%;
}
.fancybox-inner .lot-content .bloc-flex.plan-lot div:last-child img:last-child {
  display: block;
  margin: 0 auto !important;
  width: 70%;
}
.fancybox-inner .lot-content .group-btn {
  height: 50px;
  position: relative;
  justify-content: flex-end;
  padding-top: 25px;
}
.fancybox-inner .lot-content .btn-popup-situation.btn-download-file {
  color: #fff;
  background-color: #66aef3;
  margin-left: 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.fancybox-inner .lot-content .btn-popup-situation.btn-download-file .fa {
  color: #fff;
  margin-left: 5px;
}
.fancybox-inner .lot-content .btn-popup-situation {
  top: 25px;
  font-size: 14px;
  background-image: none;
  width: auto !important;
  height: 25px !important;
  right: 240px;
  color: #554e4e;
  position: absolute;
  background-color: #66aef3;
  padding: 15px 25px;
  display: inline-block;
  text-decoration: none;
  z-index: 8045;
}
.fancybox-inner .lot-content .btn-popup-situation.btn-download-file {
  right: 0px;
}
.fancybox-inner .lot-content .btn-popup-situation {
  background-color: #e2e2e2;
}
.fancybox-inner .lot-content .group-btn.disabled-btn-group:after {
  width: 100%;
  height: 80%;
  content: '-';
  color: transparent;
  position: absolute;
  top: 10px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 300;
}
.fancybox-inner .lot-content .group-btn.disabled-btn-group .btn-popup-situation {
  z-index: 200;
}
/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.

    Created on : 3 oct. 2016, 13:44:28
    Author     : MEO
*/
#footer {
  width: 100%;
  padding-top: 55px;
  background-color: #4f4e57;
}
#footer .wrap-content-85-center {
  max-width: 1200px !important;
}
#footer .flex-col.col-25 {
  position: relative;
}
#footer .flex-col.col-25 span {
  left: 0;
  bottom: 0;
  position: absolute;
  display: block;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  #footer .flex-col.col-25 span {
    position: initial;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #footer .flex-col.col-25 span {
    position: initial;
  }
}
#footer .flex-col.col-25 img {
  display: block;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  #footer .flex-col.col-25 img {
    margin: 0 auto 10px auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #footer .flex-col.col-25 img {
    margin: 0 auto 10px auto;
  }
}
#footer .flex-col i.fa,
#footer .flex-col p {
  display: inline-block;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  #footer .flex-col i.fa,
  #footer .flex-col p {
    width: 100%;
    display: block;
    text-align: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #footer .flex-col i.fa,
  #footer .flex-col p {
    width: 100%;
    display: block;
    text-align: center;
  }
}
#footer .flex-col i.fa {
  color: #8f776a;
  font-size: 35px;
  margin-right: 10px;
}
#footer .flex-col,
#footer .flex-col a,
#footer .flex-col a {
  color: #fff;
  text-decoration: none;
}
#footer-center {
  position: relative;
  top: 5px;
}
#footer .partner-logo {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
#footer .partner-logo a {
  width: auto;
  bottom: -6px;
  right: 0px;
  flex: auto;
  display: block;
  position: absolute;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  #footer .partner-logo a {
    width: 100%;
    margin-top: 40px;
    position: initial;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #footer .partner-logo a {
    width: 100%;
    margin-top: 40px;
    position: initial;
  }
}
#footer .partner-logo a:first-child {
  right: 45%;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : landscape) {
  #footer .partner-logo a:first-child {
    right: 55%;
  }
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  #footer .partner-logo a:first-child {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #footer .partner-logo a:first-child {
    margin-top: 15px;
  }
}
#footer .partner-logo a > p {
  width: 100%;
  font-size: 10px;
  color: #fff;
  text-align: center;
}
#footer .partner-logo a:first-child img {
  max-width: 120px;
}
#footer .partner-logo a:last-child img {
  max-width: 75px;
}
#footer .partner-logo a img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) {
  #footer .partner-logo a img {
    max-width: 110px;
  }
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  #footer .partner-logo a img {
    width: 50%;
    max-width: 110px;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #footer .partner-logo a img {
    width: 50%;
    max-width: 110px;
    display: block;
    margin: 0 auto;
  }
}
#sub-footer {
  width: 100%;
  margin-top: 30px;
  padding: 20px 0;
  color: #fff;
  font-size: 13px;
  border-top: 1px solid #bfe3e9;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #sub-footer {
    text-align: center;
    font-size: 10px;
  }
}
#sub-footer a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #sub-footer a {
    font-size: 10px;
  }
}
#sub-footer a:hover {
  font-size: 12px;
  color: #8f776a;
}
